$text1: "Roboto", sans-serif;
$text2: "Open Sans", sans-serif;

$color1: #fef2f2;
$color2: #286f6c;
$color2_1: #174340;
$color3: #f26440;
$color3_light: rgb(249, 141, 141);
$color3_1: #ad4126;
$color4: #fff;
$color5: #292b46;
$color6: #161616;
$color6_1: #16161698;
$color6_2: #16161622;

$p: 13.33vmax;
$p_md: 7vmax;
$p_base: 5vmax;
$p_base_inverse: 15vmax 10vmax;
$p_sm: 2vmax;
$p_sm_inverse: 13vmax 0;
$p_zero: 0;
#contact {
       min-height: 100vh;
       display: grid;
       grid-template-columns: 1fr 1fr;
     
       > section {
         background-color: $color1;
         width: 100%;
         height: 100%;
         top: -200;
      
     
         > form {
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           height: 100%;
           > h2 {
             text-align: center;
             font: 100 2.7rem $text2;
             letter-spacing: 5px;
             text-transform: uppercase;
             top: 50;
           }
           >input{
              height: 5vh;
           }
           input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
           > input,
           > button {
             padding: 0.8rem;
             width: 80%;
             outline: none;
             font: 400 1.9rem $text1;
             margin: 1rem;
             border: none;
           }
     
           > button {
             cursor: pointer;
             background-color: $color3;
             color: $color4;
             font: 600 1rem $text1;
             text-transform: uppercase;
             margin: 3rem;
             &:hover {
               background-color: $color3_1;
             }
           }
         }
       }
     
       > aside {
         width: 100%;
         height: 100%;
         background-color: $color5;
         display: none;
         place-items: center;
         img {
           width: 70%;
           height: 70%;
           object-fit: contain;
           filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.322)) hue-rotate(150deg);
           animation: upupdowndown 0.7s infinite linear alternate;
         }
       }
     }