.footer {
  .copyright-text {
    display: block;
    margin-top: 0.7rem;
  }
}
article {
  position: relative;
  margin: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  svg {
    font-size: 7rem;
    color: white;
    &:hover {
      color: red;
    }
  }
}
